<ion-pane>
      <ion-header-bar class="bar-header bar-assertive">
        <a href="#/main" class="button button-icon icon ion-ios-arrow-thin-left"></a>
        <button class="button button-icon icon ion-android-arrow-up" ng-click="backAndClear()"></button>
        <div class="h1 title">Draw</div>
         <button class="button button-clear button-light" ng-click="submitToContainer()">Deploy</button>
      </ion-header-bar>

      <ion-content scroll="false">

        <div class="doodle">
         <!-- Luke here is the place for the thingy -->
          <canvas id="example"></canvas>
        </div>

      </ion-content>
    </ion-pane>
